header{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #f5f4f3;
    padding: 10px;
    font-family: "Grandstander", cursive;
    font-optical-sizing: auto;
    padding: 10px;
    color:#ca4a28;
}

body{
    font-family: "Arial";
    color:#000000;
    background-color:#f3f2f1;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
}

main{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 20px;
    font-family: "Arial";
    color:#000000;
}

footer{
    margin-top: 50px;
    margin-right: 100px;
    text-align: right;
    font-family: "Arial";
    color: #9c8f8d;
}