body {
  margin: 0;
  padding: 0;
  height: 100%
}

/* <!--Fixed Navigation Bar--> */

.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ca4a28;
  box-shadow: 1px 2px 4px black;
}
  
.topnav a {
  font-family: "Grandstander", cursive;
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
.topnav a:hover {
  background-color: #b63f1e;
  color: black;
}
  
.topnav a.logo {
  background-color: #ad2210;
  color: white;
  transition: all 0.3s ease;
  border: none;
  display: inline-block;
  padding: 2px 16px;
  vertical-align: left;
  overflow: hidden;
  text-decoration: none;
  text-align: left;
  box-sizing: border-box;
  flex:0 0 auto;
}
.topnav img {
  max-height: 45px; 
  max-width: 45px;
}

.topnav a.logo img:hover:not(.active){
  filter: brightness(85%);
}

.topnav .search-container {
  float: left;
}
  
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8.1px;
  font-size: 17px;
  border: none;
  width: 500px
}

.topnav .search-container button {
  float: left;
  padding: 6px 10px;
  margin-top: 8.5px;
  margin-left: 20px;
  background: #ddd;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
}

.topnav input[type=text] {
  border: 1px solid #ccc;  
}

/* <!-- To keep the page consistent -->  */

@media screen and (max-width: 800px) {
  .topnav input[type=text] {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .topnav { 
    position: relative; /* Fixed turns into relative when zoomed to scroll down*/
  }
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  h1 {
    margin: 0%;
  }
  p {
    margin: 0%;
  }
}

/* <!-- Styles for the all webpages to keep consistency --> */

main {
  margin-top: 30px;
  padding-top: 5px;
  font-family:  'Calibri', sans-serif;
}

h1 {
  font-family: "Arial", sans-serif;
  margin-left: 35px;
  margin-right: 40px;
}

p {
  padding-top: 5px;
  font-size: 17px;
  margin-left: 50px;
  margin-right: 50px;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container img{
    object-fit: cover;
    width: 100%;
    height: 240px;
}

.link{
  text-decoration: none;
  color: rgb(91, 87, 87)
}


.space{
  margin-top:50px
  /* Exists to put a gap between the nav and paragraphs*/
}

/* CSS for Content Pages */

.art-image img{
  border:#23130c 2px outset; 
  float: left; 
  width: 20%; 
  margin: 18px 15px 10px 50px
}

.medium-image img{
  margin-left: 20px; 
  border: #000000 2px outset; 
  height:10%;
  width:50%;
  object-fit: contain;
  object-position: 15% 100"
}