{% extends "layout.html" %}
{% block content %}
<title> {{artist[1]}} - Artist </title>

<p class="space-directions">
    <a href="/" class="link">Home</a> / <a href="/artist" class="link">Artists </a>/ {{artist[1]}} 
</p>

<h1> {{artist[1]}} </h1>

<hr/>


<div class="content-container"> 
    <div class="table-of-contents">
            <img class="myImages" img id="myImg" src="{{artist[2]}}" alt="Image of {{artist[1]}}">
        <div class="toc-title"> 
             <h2> {{artist[1]}} </h2>
        </div> <!-- Table of Content Image -->
        <div class="toc-chapters">
            <li><a href="#summary" class="toc-link">Summary</a></li>
            <li><a href="#accomplishments" class="toc-link">Accomplishments</a></li>
            <li><a href="#biography" class="toc-link">History</a></li>
            <li><a href="#artworks" class="toc-link">Artworks</a></li>
        </div> <!-- Table of Content chapters -->
    </div> <!-- Whole Table of Content -->
    <div class="main-content"> 
        <section id="summary">
            <h2> Who is {{artist[1]}}? </h2>
            <div class="border-block"></div>
            <p> {{artist[3]}} </p>
            <div class="space"></div>
        </section>

        <section id="accomplishments">
            <h2> Accomplishments of {{artist[1]}} </h2>
            <div class="border-block"></div>
            {{artist[4]|safe}}
            <div class="space"></div>
        </section>      

        <section id="biography">
            <h2> Biography of {{artist[1]}} </h2>
            <div class="border-block"></div>
            {{artist[5]|safe}}
            <div class="space"></div>
        </section>

        <section id="artworks">
            <h2> Examples of Artworks by {{artist[1]}} </h2>
            <div class="border-block"></div>
            {%for artwork in artworks%}
                <div class="artwork-container">
                    <div class="artwork-item">
                            <img class="myImages" img id="myImg" src="{{artwork[5]}}" alt="{{artwork[1]}} {{artwork[8]}}">
                        <div class="artwork-info">
                            <h3> {{artwork[1]}} </h3>
                            <p> <b>Year:</b> {{artwork[6]}} </p>
                            <p> <b>Medium:</b> {{artwork[11]}} </p>
                            <p> <b>Artstyle:</b> {{artwork[10]}} </p>
                            <p> {{artwork[7]|safe}} </p>
                            <p class="subtitle"> {{artwork[8]|safe}} </p>
                        </div> <!-- Artwork Info -->
                    </div> 
                </div> <!-- Whole Artwork Box -->
            {%endfor%}
        </section>
        
    </div> <!-- Main Content -->
</div> <!-- Content Container -->


<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>


<script>
// Script based on w3schools.com, adjusted for more
 
// Get the modal
var modal = document.getElementById("myModal");

// To get all images
var images = document.getElementsByClassName('myImages');
    
// Get the image and insert it inside the modal - use "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");

// Go through all of the images with myImages
for (var i = 0; i < images.length; i++) {
var img = images[i];
    
// and attach our click listener for this image.
img.onclick = function(evt) {
    console.log(evt);
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
    }
}

var span = document.getElementsByClassName("close")[0];
  
span.onclick = function() {
    modal.style.display = "none";
}

</script>

{% endblock %}