{% extends "layout.html" %}
{% block content %}
<title> {{artist[1]}} - Artist </title>

<p class="space">
    <a href="/" class="link">Home</a> / <a href="/artist" class="link">Artists </a>/ {{artist[1]}} 
</p>

<h1> {{artist[1]}} </h1>

<hr/>


<div class="content-container"> 
    <div class="table-of-contents">
        <img src="{{artist[2]}}">
        <div class="toc-title"> 
             <h2> {{artist[1]}} </h2>
        </div>
        <div class="toc-chapters">
            <li><a href="#summary" class="toc-link">Summary</a></li>
            <li><a href="#accomplishments" class="toc-link">Accomplishments</a></li>
            <li><a href="#biography" class="toc-link">History</a></li>
            <li><a href="#artworks" class="toc-link">Artworks</a></li>
        </div>
    </div>
    <div class="main-content"> 
        <section id="summary">
            <h2> Who is {{artist[1]}}? </h2>
            <div class="border-block"></div>
            <p> {{artist[3]}} </p>
            <div class="space"></div>
        </section>

        <section id="accomplishments">
            <h2> Accomplishments of {{artist[1]}} </h2>
            <div class="border-block"></div>
            <p> {{artist[4]|safe}} </p>
            <div class="space"></div>
        </section>      

        <section id="biography">
            <h2> Biography of {{artist[1]}} </h2>
            <div class="border-block"></div>
            <p> {{artist[5]|safe}} </p>
            <div class="space"></div>
        </section>

        <section id="artworks">
            <h2> Examples of Artworks by {{artist[1]}} </h2>
            <div class="border-block"></div>
            <p> Insert Portfolio of Images </p>
        </section>
        
    </div>
</div>
    
{% endblock %}