{% extends "layout.html" %}
{% block content %}

<title> Artists </title>

<hr/>

<div class="container">
    <img src= "static/images/ArtistBanner.jpg" alt="artist banner"/>
</div>

<hr/>

<p>   
    <a href="/" class="link">Home</a> / Artists
</p>

<div class="artist-nav-container">
    {% for artist in artists %}
    <a href="/artist/{{artist[0]}}" class="artist-link">
        <div class="artist-item">
            <img src="{{artist[2]}}" alt="{{artist[1]}}" class="artist-image">
            <div class="artist-info">
                <h2> {{artist[1]}} </h2>
                <p> {{artist[3]}} </p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{%endblock%}