{% extends "layout.html" %}
{% block content %}

<title> Artists </title>

<hr/>

<div class="container">
    <img src= "static/images/ArtistBanner.jpg" alt="artist banner"/>
</div>

<hr/>

<p>   
    <a href="/" class="link">Home</a> / Artists
</p>
<p>
    
</p>


<div class="results-section">
    {% for artist in artists %}
        <a href="/artist/{{artist[0]}}" class="result-item">
            <img src="{{artist[2]}}" alt="{{artist[1]}}" class="thumbnail">
            <div class="result-info">
                <h3 class="result-title">{{ artist[1] }}</h3>
                <p class="result-description">{{ artist[3] }}</p>
            </div>
        </a>
    {% endfor %}
</div>

{%endblock%}