{% extends "layout.html" %}
{% block content %}
<title> {{artstyle[1]}} - Artstyle </title>

<p class="space">
    <a href="/" class="link">Home</a> / <a href="/artstyle" class="link">Artstyles </a>/ {{artstyle[1]}} 
</p>

<body>
<h1> {{artstyle[1]}} </h1>

<hr/>

<div class="content-container"> 
    <div class="table-of-contents">
        <img src="{{artstyle[2]}}">
        <div class="toc-title"> 
             <h2> {{artstyle[1]}} </h2>
        </div>
        <div class="toc-chapters">
            <li><a href="#summary" class="toc-link">Summary</a></li>
            <li><a href="#key-details" class="toc-link">Key Details</a></li>
            <li><a href="#history" class="toc-link">History</a></li>
            <li><a href="#artworks" class="toc-link">Artworks</a></li>
        </div>
    </div>
    <div class="main-content"> 
        <section id="summary">
            <h2> What is {{artstyle[1]}}? </h2>
            <div class="border-block"></div>
            <p> {{artstyle[3]}} </p>
            <div class="space"></div>
        </section>

        <section id="key-details">
            <h2> Key Details </h2>
            <div class="border-block"></div>
                {{artstyle[4]|safe}}
            <div class="space"></div>
        </section>      

        <section id="history">
            <h2> History of {{artstyle[1]}} </h2>
            <div class="border-block"></div>
                {{artstyle[5]|safe}}
            <div class="space"></div>
        </section>

        <section id="artworks">
            <h2> Examples of {{artstyle[1]}} </h2>
            <div class="border-block"></div>
            {%for artwork in artworks%}
                <div class="artwork-container">
                    <div class="artwork-item">
                        <img src="{{artwork[5]}}">
                        <div class="artwork-info"> 
                            <h3> {{artwork[1]}} </h3>
                            <p> <b>Year:</b> {{artwork[6]}} </p>
                            <p> <b>Artist:</b> {{artwork[9]}} </p>
                            <p> <b>Medium:</b> {{artwork[11]}} </p>
                            <p> {{artwork[7]|safe}} </p>
                            <p class="subtitle"> {{artwork[8]|safe}} </p>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </section>
        
    </div>
</div>


</body>

{% endblock %}