{% extends "layout.html" %}
{% block content %}
<title> {{artstyle[1]}} - Artstyle </title>

<p class="space">
    <a href="/" class="link">Home</a> / <a href="/artstyle" class="link">Artstyles </a>/ {{artstyle[1]}} 
</p>

<body>
<h1> {{artstyle[1]}} </h1>

<hr/>

<div class="content-container"> 
    <div class="table-of-contents">
        <img src="{{artstyle[2]}}">
        <div class="toc-title"> 
             <h2> {{artstyle[1]}} </h2>
        </div>
        <div class="toc-chapters">
            <p> Summary </p>
            <p> Key Details </p>
            <p> History </p>
            <p> Artworks </p>
        </div>
    </div>
    <div class="main-content"> 
        
        <h2> What is {{artstyle[1]}}? </h2>
        <div class="border-block"></div>
        <p> {{artstyle[3]}} </p>
        <div class="space"></div>

        <h2> Key Details </h2>
        <div class="border-block"></div>
        <p> Insert Information </p>
        <div class="space"></div>

        <h2> History of {{artstyle[1]}} </h2>
        <div class="border-block"></div>
        <p> Insert Information </p>
        <div class="space"></div>

        <h2> Examples of {{artstyle[1]}} </h2>
        <div class="border-block"></div>
        <p> Insert Portfolio of Images </p>
        
    </div>
</div>


</body>

{% endblock %}