{% extends "layout.html" %}
{% block content %}

<title> Artstyle </title>

<hr/>

<div class="container">
    <img src= "static/images/ArtstyleBanner.jpg" alt="artstyle banner"/>
</div>

<hr/>

<p>   
    <a href="/" class="link">Home</a> / Artstyles
</p>

<div class="artstyle-nav-container">
    {% for artstyle in artstyles %}
    <a href="/artstyle/{{artstyle[0]}}" class="artstyle-link">
        <div class="artstyle-item">
            <img src="{{artstyle[3]}}" alt="{{artstyle[1]}}" class="artstyle-image">
            <div class="artstyle-info">
                <h2> {{artstyle[1]}} </h2>
                <p> {{artstyle[2]}} </p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<footer>
    <p>©2024</p>
</footer>

{%endblock%}