.latest-item {
  padding: 10px; 
}

.latest-item h3{
  padding: 0px;
  margin: 15px 10px 0px 0px !important; 
}

.latest-item p{
  margin: 3px;
}

.latest-cotainer {
  display: flex;
  background: #f9f9f9;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 1100px;
  text-decoration: none;
}

.latest-cotainer img{
  padding: 15px;
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.latest-container {
  display: flex;
  padding-top: 10px;
  margin: 0px 35px 0px 35px;
}