onClick="return confirm('This leads to another website, are you sure you want to leave?')" class="external" target="_blank"
from <a href="https://www.marmottan.fr/notice/4014/" onClick="return confirm('This leads to another website, are you sure you want to leave?')" class="external" target="_blank">Musée Marmottan,</a> Paris

Photo by <a href="https://unsplash.com/@cbarbalis?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" onClick="return confirm('This leads to another website, are you sure you want to leave?')" class="external" target="_blank"
>Chris Barbalis</a> on <a href="https://unsplash.com/photos/red-and-white-painted-wall-6RzNEfdOlko?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" onClick="return confirm('This leads to another website, are you sure you want to leave?')" class="external" target="_blank"
>Unsplash</a>
  