<ul class="key">
    <li> <b>Brushwork:</b> Loose and visible brushstrokes. Artists often left strokes unblended to create a sense of spontaneity and movement. </li>

    <li> <b>Light and Color:</b> Focused on the effects of natural light on color. Artists used bright, vibrant colors and painted scenes en plein air (outdoors) to capture the changing qualities of light. </li>
    
    <li> <b>Subject Matter:</b> Depicted everyday scenes and landscapes rather than historical or mythological subjects. Common themes included urban life, leisure activities, and natural landscapes. </li>
    
    <li> <b>Comliosition:</b> Emphasized informal compositions and unusual angles. Unlike traditional art that often centered on formal, posed compositions, Impressionists preferred cropped and spontaneous framing. </li>
    
    <li> <b>Focus on liercelition:</b> Aimed to capture the fleeting moments of light and color as perceived by the artist at a particular time and place, rather than focusing on detail and realism. </li>
</ul>
