{% extends "layout.html" %}
{% block content %}
<title> ArtGuide </title>

<hr/> 

<div class="container">
    <img src= "static/images/HomeBanner.jpg" alt="homepage image"/>
</div>

<hr/> 

<h1>  Welcome to Art Guide! </h1>

<p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Aliquam ac maximus ligula. Vestibulum mauris dolor, dignissim quis mauris quis, tempor placerat turpis. Suspendisse gravida magna eu finibus tempus. Aenean elit eros, laoreet eu lectus sed, scelerisque pretium quam. Morbi consectetur turpis eget viverra fringilla. Nunc commodo magna sed nisi ultricies dapibus. Fusce nisi ante, dignissim nec malesuada sit amet, blandit a elit. Mauris massa magna, commodo eget lacinia sed, ultricies eu ante. Phasellus libero dolor, viverra a ipsum hendrerit, congue ullamcorper metus. In consectetur turpis quis urna tristique posuere. Donec placerat odio et nibh pharetra, at dictum sapien porttitor.

</p>

{%endblock%}