<!doctype html>
<html>
<head>
    <meta charset= "utf-9">
    <meta name="viewport" 
    content="width-device-width, initial-scale=1">

    <!-- Loads the font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Loads icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href = "/static/style.css">

</head>
<body>

<nav>
    <div class="topnav">
        <div class="topnav-logo">
            <li><a href="/"> 
                 <img src= "/static/images/Icon.png" alt="ArtGuide"/>
            </a></li>
        <div class="topnav-options">
            <li><a href="/mediums"> Mediums </a></li>
            <li><a href="/artstyles"> Artstyles </a></li>
        <div class="topnav-search">
            <li><input type="text" placeholder="Search..."> </li>
        </ul> 
</nav>
<div style="margin-top:30px; height: 1500px">

    <main>
        {% block content %}{% endblock %}
    </main>

<footer>
    <p><font size="2px"> ©2024 </font></p>
</footer>

<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("nav").style.top = "0";
      } else {
        document.getElementById("nav").style.top = "-50px";
      }
      prevScrollpos = currentScrollPos;
    }
</script>

</body>
</html>