<!doctype html>
<html lang="en">


    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
        <meta charset= "utf-9">
        <meta name="viewport" 
        content="width-device-width, initial-scale=1">

    <link rel="stylesheet" href = "/static/style.css">

    </head>


    <header>
    
        <nav class="headernav navbar fixed-top">


        </nav>
    
    </header>

    
    <body>

        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p><font size="2px"> ©2024 </font></p>
        </footer>
    </body>


    </html>