<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/style.css">

    <!-- Favicon -->
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    
    <!-- Loads the font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- Loads icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Loads lightbox2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">   
    <link rel="stylesheet" href="/static/lightbox.css">
    <link rel="stylesheet" href="/static/lightbox.min.css">
    
</head>
<body>

<nav>
    <div class="topnav">
        <a class="logo" href="/">
            <img src="/static/images/Icon.png" alt="Home" title="Home" aria-label="Home">
        </a>
        <a href="/medium">Mediums</a>
        <a href="/artstyle">Artstyles</a>
        <a href="/artist">Artists</a>
        <div class="search-container">
            <form action="/search" method="POST" onsubmit="return validateSearch()">
                <input type="text" id="query" name="search_term" placeholder=" Search.." maxlength="56">
                <button type="submit" onclick="limitFunction()"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</nav>

<script>
    //All javascript is originally from www.w3schools.com
    // Function for the minimum search field
    function validateSearch() {
      var query = document.getElementById("query").value.trim();
      if (query === "") {
        alert("Please enter a search term.");
        return false; // Prevent form submission
      }
      return true; // Allow form submission if the search is valid
    }

    // Function for the max search field
    function limitFunction() {
        var x = document.getElementById("mySearch").maxLength;
        document.getElementById("demo").innerHTML=x;
      }
</script>

<div id="results"></div>

<div style="height: 1500px;">

    <main>
        {% block content %}{% endblock %}
    </main>

<footer>
    <p><font size="2px"> ©2024 </font></p>
</footer>

</body>
</html>
