{% extends "layout.html" %}
{% block content %}
<title> Mediums </title>

<hr/>

<div class="container">
    <img src= "static/images/MediumBanner.jpg" alt="medium banner"/>
</div>

<hr/>

<p>
    <a href="/" class="link">Home</a> / Mediums
</p>

<div class="results-section">
    {% for medium in mediums %}
        <a href="/medium/{{medium[0]}}" class="result-item">
            <img src="{{medium[2]}}" alt="{{medium[1]}}" class="thumbnail">
            <div class="result-info">
                <h3 class="result-title">{{ medium[1] }}</h3>
                <p class="result-description">{{ medium[3] }}</p>
            </div>
        </a>
    {% endfor %}
</div>

{%endblock%}