{% extends 'layout.html' %}
{% block content %}
<title> {{medium[1]}} - Medium </title>

<p class="space">   
    <a href="/" class="link">Home</a> / <a href="/medium" class="link">Mediums </a>/ {{medium[1]}} 
</p>

<hr/>

<div class="content-container"> 
    <div class="table-of-contents">
        <img src="{{medium[2]}}">
        <div class="toc-title"> 
             <h2> {{medium[1]}} </h2>
        </div>
        <div class="toc-chapters">
            <li><a href="#summary" class="toc-link">Summary</a></li>
            <li><a href="#key-details" class="toc-link">Key Details</a></li>
            <li><a href="#history" class="toc-link">History</a></li>
            <li><a href="#artworks" class="toc-link">Artworks</a></li>
        </div>
    </div>
    <div class="main-content"> 
        <section id="summary">
            <h2> What is {{medium[1]}}? </h2>
            <div class="border-block"></div>
            <p> {{medium[4]|safe}} </p>
            <div class="space"></div>
        </section>

        <section id="key-details">
            <h2> Key Details </h2>
            <div class="border-block"></div>
            <p> {{medium[5]|safe}} </p>
            <div class="space"></div>
        </section>      

        <section id="history">
            <h2> History of {{medium[1]}} </h2>
            <div class="border-block"></div>
            <p> {{medium[6]|safe}} </p>
            <div class="space"></div>
        </section>

        <section id="artworks">
            <h2> Examples of {{medium[1]}} </h2>
            <div class="border-block"></div>
            <p> Insert Portfolio of Images </p>
        </section>
        
    </div>
</div>
    
{% endblock %}