{% extends "layout.html" %}

{% block content %}
    <h1 class="space-directions">Search Results</h1>

    <!-- Display message when no results were found -->
    {% if no_results %}
        <p>What you're looking for isn't here. Try searching for something else!</p>
    {% endif %}

    {% if results.artstyles %}
        <h2>Artstyles</h2>
        <div class="results-section">
            {% for artstyle in results.artstyles %}
                <a href="/artstyle/{{artstyle[0]}}" class="result-item">
                    <img src="{{artstyle[2]}}" alt="{{artstyle[1]}}" class="thumbnail">
                    <div class="result-info">
                        <h3 class="result-title">{{ artstyle[1] }}</h3>
                        <p class="result-description">{{ artstyle[3] }}</p>
                    </div> <!-- Results Info for Artstyles -->
                </a>
            {% endfor %}
        </div> <!-- Artstyle's Whole Results Section  -->
    {% endif %}

    {% if results.mediums %}
        <h2>Mediums</h2>
        <div class="results-section">
            {% for medium in results.mediums %}
                <a href="/medium/{{medium[0]}}" class="result-item">
                    <img src="{{medium[2]}}" alt="{{medium[3]}}" class="thumbnail">
                    <div class="result-info">
                        <h3 class="result-title">{{ medium[1] }}</h3>
                        <p class="result-description">{{ medium[4] }}</p>
                    </div> <!-- Results Info for Mediums -->
                </a>
            {% endfor %}
        </div> <!-- Medium's Whole Results Section  -->
    {% endif %}

    {% if results.artists %}
        <h2>Artists</h2>
        <div class="results-section">
            {% for artist in results.artists %}
                <a href="/artist/{{ artist[0] }}" class="result-item">
                    <img src="{{artist[2]}}" alt="{{artist[1]}}" class="thumbnail">
                    <div class="result-info">
                        <h3 class="result-title">{{ artist[1] }}</h3>
                        <p class="result-description">{{ artist[3] }}</p>
                    </div> <!-- Results Info for Artists -->
                </a>
            {% endfor %}
        </div> <!-- Artist's Whole Results Section  -->
    {% endif %}
{% endblock %}