{% extends "layout.html" %}
{% block content %}
<title> Mediums </title>

<hr/>

<div class="container">
    <img src= "static/images/MediumBanner.jpg" alt="medium banner"/>
</div>

<hr/>

<p>
    <a href="/" class="link">Home</a> / Mediums
</p>

<div class="mediums-nav-container">
    {% for medium in mediums %}
    <a href="/medium/{{medium[0]}}" class="medium-link">
        <div class="medium-item">
            <img src="{{medium[3]}}" alt="{{medium[1]}}" class="medium-image">
            <div class="medium-info">
                <h2> {{medium[1]}} </h2>
                <p> {{medium[2]}} </p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{%endblock%}